html {
  --primary: #6B7A8F;
  --secondary: #F7882F;
  --surface: #F7C331;
  --background: #DCC7AA;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;
}

nav ul li {
  list-style: none;
  padding: 1em;
  font-size: 1.5em;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary);
}

